.body-bg{
    background-color: #ee316b;
}
.footer{
    margin-top: 5px;
    background-color:#842D73;
    text-align: center;
    border-radius: 2px;
}
.name_head{
    text-align: center;
}
.card_nayobye{
    margin-top: 20px;
}
.right_bar{
    margin-top: 20px;
}