.btn-warning{
    margin: 5px ;
}
.btn-color{
    background-color: #FBB137 !important;
    margin: 5px;
}
.nav-color{
    background-color: #FBDFB6 !important;
    border-radius: 2px;
    margin-bottom: 5px;
}